/* =============
    Section 2
============= */
#section-2 {
    display: grid;
    grid-template-areas: ". section-2 .";
    grid-template-columns: 15px auto 15px;

    // margin-top: 60px;
    // margin-right: 0px;
    // margin-bottom: 60px;
    // margin-left: 0px;
    border: 1px solid red;

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    #section-2-content {
        grid-area: section-2;

        #section-2-intro {
            @include md {
                display: grid;
                grid-template-areas: ". section-2-intro .";
                grid-template-columns: 15% auto 15%;
            }

            @include lg {
                grid-template-columns: 18% auto 18%;
            }

            #section-2-intro-content {
                @include md {
                    grid-area: section-2-intro;
                }
            }
        }

        #section-2-middle {
            @include lg {
                display: grid;
                grid-template-areas: ". section-2-middle .";
                grid-template-columns: 15% auto 15%;
            }

            #section-2-middle-content {
                @include lg {
                    grid-area: section-2-middle;
                }
            }
        }

        #section-2-date {
            @include md {
                display: grid;
                grid-template-areas: ". section-2-date .";
                grid-template-columns: 10% auto 10%;
            }

            @include lg {
                grid-template-columns: 25% auto 25%;
            }

            #section-2-date-content {
                @include md {
                    grid-area: section-2-date;
                }
            }
        }
    }
}