/* =============
    Section 5
============= */

#section-5{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-5 .";

    ul{
        grid-area: section-5;
        display: grid;
        gap:20px;

        li{
            img{
                width: 100%;
            }
        }
    }
}