/* =============
    Section 3
============= */
#section-3{
    border: 1px solid green;

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-3-dekstop .";
    }

    #section-3-desktop{

        @include xl{
            grid-area: section-3-dekstop;
            display: grid;
            grid-template-columns: 40% auto;
            // border: 1px solid red;
        }
    
        aside{
            background-image: url("../img/section-3/grid-bot.jpg");
            background-size: cover;
            background-position: center;
            height: 370px;

            @include md{
                height: 470px;
            }

            @include lg{
                height: 600px;
            }

            @include xl{
                background-position: -265px 0px;
            }

        }
    
        #section-3-container{
            
            display: grid;
            grid-template-columns: 15px auto 15px;
            grid-template-areas: ". section-3 .";
    
            @include md{
                grid-template-columns: 8% auto 8%;
            }
                
            #section-3-content{
                grid-area: section-3;
                // border: 1px solid red;
            }
        }
    }
}