/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 6% auto 6%;
    grid-template-areas: ". footer .";

    @include md{
        grid-template-columns: 20% auto 20%;
    }
    #footer-content{
        grid-area: footer;
    }
}
